<%- include('partials/navbar') %>

<h1>Your New Madlib</h1>


  <div class="well">
    <h2>
      <%= madlib.title %> </br>
    </h2> 
    <p>
      <%= madlib.body %>
    </p>
  </div>
  <a href="/madlibs/<%= madlib.id %>/input" class="btn btn-primary">Get Madlibz Form</a>


<hr />

<a href="/profile">&larr; Back Home</a>


<script src="https://code.jquery.com/jquery.js"></script>

<script>

	

  

  

	$('#madlib-input-form').submit(function(e) {
		cosole.log("I am in the button");
    e.preventDefault();



    var url = $(this).attr('action');
    var data = $(this).serialize();
    conosle.log(data);



    $.ajax({
      url: url,
      method: 'PUT',
      data: data
    }).done(function(data) {
      window.location.href = '/madlibs/<%= madlib.id %>';
    });
  });

</script>